@charset "UTF-8";
/* CSS Document */
/****************************************************************************
			Global
*****************************************************************************/
html {
	scroll-behavior: smooth;
}


h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}
h2 {
	text-align: center;
}
p {
	font-family: 'Josefin Sans', sans-serif;
	color: #464751;
	font-size: 15px;
}

body {
	overflow-x: hidden;
}

/****************************************************************************
			Navigation
*****************************************************************************/


#hamburger {
	text-align: right;
	float: right;
	font-family: 'Amatic SC', cursive;
	color: #3ac2a3;
	font-size: 30px;
	padding: 5px 10px;
	border-radius: 3px;
}

.nav a {
	color: #3ac2a3;
	padding-right: 30px;
	margin: 0 auto;
}

#mainNav ul.slide {
  display: block;
  width: 100%;
  padding-left: 80px;
  margin-top: 30px;
  margin-bottom: -30px;
  background-color: #f7f7f7;
 }

.nav a:hover {
 	color: #1b1b4d;
 	text-decoration: none;
 	transition: all 0.2s ease-in;
 }

#hamburger {
	display: none;
}

button {
	padding: 5px 9px 5px 9px;
	font-size: 14px;
	background-color: #fff;
	border-radius: 5px;
	margin-right: 20px;
	margin-top: 40px;
	float: right;
}

/****************************************************************************
			About Me / Intro Section / Hero / Logo
*****************************************************************************/

#intro p {
	padding-bottom: 20px;
	padding-right: 5px;
	padding-left: 5px;
}

#intro {
	padding-bottom: 90px;
}

.icon {
	text-align: center;
}
#hero img {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 15px;
	z-index: 1;
}

#logo img {
	width: 110px;
	padding-top: 20px;
}

figcaption {
	display: none;
}

/****************************************************************************
			Services
*****************************************************************************/

#allServices {
	margin-bottom: 80px;
}

#allServices h2 {
	padding-top: 20px;
	padding-bottom: 23px;
}
#allServices p {
	padding-bottom: 50px;
	text-align: center;
}
#allServices {
	padding-top: 3px;
}

/****************************************************************************
			Portfolio
*****************************************************************************/

#allWork {
	text-align: center;
	margin-bottom: 100px;
}
#allWork .row {
	padding-bottom: 80px;
}

#allWork .row img {
	cursor: pointer;

}

/****************************************************************************
			Footer & SOCIAL LINKS
*****************************************************************************/

#pageFooter {
	background-color: #3ac2a3;
}

#copyRight {
	padding-bottom: 20px;
	padding-top: 120px;
	text-align: center;
	color: #FFF;
}
#pageFooter h1 {
	color: #fff;
}


#bottomLogo img {
	width: 60px;	
}

#bottomLogo {
	text-align: center;
	margin-top: 90px;
	margin-bottom: -90px;
}

#medias {
	margin-left: 25%;
	padding-top: 30px;
}

#facebook, #linkedIn, #email {

	color: #fff;
}

#facebook:hover, #linkedIn:hover, #email:hover {
	color: #1b1b4d;
}

#pageFooter i {
	margin-right: 20px;
}

#linkedIn {
	padding-bottom: 20px;
}

#pageFooter p {
	color: #fff;
}

#mailBottom {
	padding-left: 50px;
}

/****************************************************************************
			Media Queries
*****************************************************************************/

@media screen and (min-width: 320px) {


	#kickaxe, #archstone, #chop, #marilyn, #beer, #idCon {
		padding-bottom: 80px;
	}

	.services p {
		margin-left: 25px;
		margin-right: 25px;
	}

}

@media screen and (min-width: 492px) {
	#mailBottom {
		margin-left: -50px;
	}


}

@media screen and (min-width: 768px) {
	#hamburger {
		display: inline-block;
	}

	.nav {
		display: inline-block;
		margin-top: 28px;
	}

	.nav:hover {
		transition: all 9s ease;
		color: #1b1b4d;
	}

	#mainNav button {
		display: none;
	}

	#logo img {
		width: 120px;
		margin-left: 30px;
	}

	#medias {
		padding-left: 50px;
	}

}

@media screen and (min-width: 992px) {
	.work {
		margin-bottom: -80px;
	}

	#medias {
		padding-left: 110px;
	}

}
