@charset "UTF-8";
/* CSS Document */
/****************************************************************************
			Global
*****************************************************************************/

body {
	overflow-x: hidden;
}


h1 {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	padding-bottom: 25px;
	padding-top: 130px;
}
h2 {
	text-align: center;
}
p {
	font-family: 'Josefin Sans', sans-serif;
	color: #464751;
	font-size: 15px;
}


/****************************************************************************
			Navigation
*****************************************************************************/

#mainNav ul li a{
	color: #3ac2a3;
}

#mainNav {
	font-family: 'Amatic SC', cursive;
	font-size: 25px;
	float: right;
	text-decoration: none;
	padding-top: 37px;
	padding-right: 55px;
}

.nav, .nav:hover {
	text-decoration: none;
}

#mainNav ul li a:hover {
	text-decoration: none;
	color: #1b1b4d;
 	transition: all 0.2s ease-in;
}

/****************************************************************************
			Logo
*****************************************************************************/

.icon {
	text-align: center;
}

#logo img {
	width: 110px;
	padding-top: 20px;
}

figcaption {
	display: none;
}

/****************************************************************************
			Project Section
*****************************************************************************/

#allDraw {
	text-align: center;
}

.container .row1 {
	padding-bottom: 40px;
	text-align: center;
}

#mainImg img {
	padding-bottom: 100px;
	width: 333px;
}

#river img {
	padding-bottom: 100px;
	width: 333px;
}

#pour img {
	padding-bottom: 100px;
	width: 333px;
}

.container .row2 {
	padding-bottom: 50px;
	text-align: center;
}

#globe img {
	width: 500px;
}

#ball img {
	width: 500px;
}

.container .row3 {
	padding-bottom: 40px;
	text-align: center;
}

#skull img {
	width: 500px;
}

#spoon img {
	width: 500px;
}


/****************************************************************************
			Footer & SOCIAL LINKS
*****************************************************************************/

#pageFooter {
	background-color: #3ac2a3;
	margin-top: 70px;
}

#copyRight {
	padding-bottom: 20px;
	padding-top: 120px;
	text-align: center;
	color: #FFF;
}
#pageFooter h1 {
	color: #fff;
}


#bottomLogo img {
	width: 60px;	
}

#bottomLogo {
	text-align: center;
	margin-top: 90px;
	margin-bottom: -90px;
}

#medias {
	margin-left: 25%;
	padding-top: 30px;
}

#facebook, #linkedIn, #email {

	color: #fff;
}

#facebook:hover, #linkedIn:hover, #email:hover {
	color: #1b1b4d;
}

#pageFooter i {
	margin-right: 20px;
}

#linkedIn {
	padding-bottom: 20px;
}

#pageFooter p {
	color: #fff;
}

#mailBottom {
	padding-left: 50px;
}

/****************************************************************************
			Media Queries
*****************************************************************************/

@media screen and (min-width: 492px) {

	#mailBottom {
		margin-left: -50px;
	}

}

@media screen and (min-width: 768px) {

	#allDraw img {
		text-align: center;
		margin: auto 0;
	}

	#mainImg img {
		text-align: center;
		margin: auto 0;
		margin-left: 100px;
	}

}





@media screen and (min-width: 900px) {

	#medias {
		padding-left: 50px;
	}

}


